$white: #ffffff;
$orange: #ffbb42;
$grey: #868686;
$grey-dark: #394b50;
$blue: #709dca;
$txt-main: 13px;
$txt-description: 28px;
$fz-h1: 35px;
$txt-main-ln-height: 16px;
$txt-description-ln-height: 29px;
$h1-ln-height: 42px;
$transition-time: 0.3s ease;