$white: #ffffff;
$orange: #ffbb42;
$grey: #868686;
$grey-dark: #394b50;
$grey-white: #a9a9a9;
$grey-extra-white: #dedfe0;
$blue: #709dca;
$blue-white: #1ca8dd;
$txt-main: 13px;
$txt-btn: 14px;
$txt-description: 24px;
$fs-h1: 35px;
$fs-h2: 30px;
$txt-main-ln-height: 16px;
$txt-btn-ln-height: 17px;
$txt-description-ln-height: 29px;
$h1-ln-height: 42px;
$h2-ln-height: 36px;
$transition-time: 0.3s ease;