// color
$white: #ffffff;
$orange: #ffbb42;
$orange-2: #ffc155;
$orange-3: #f6772c;
$grey: #868686;
$grey-dark: #394b50;
$grey-white: #a9a9a9;
$grey-white-2: #7b7b7b;
$grey-white-3:#818b95;
$grey-white-4:#b5bbc1;
$grey-white-5: #99a9ae;
$grey-extra-white: #dedfe0;
$blue: #709dca;
$blue-2: #8eb8e2;
$blue-white: #1ca8dd;
$blue-extra-white: #e7edf3;
$blue-extra-white-2: #e2e9f0;
$blue-extra-white-3:#ccd5df;
$blue-extra-white-4: #c2e1ff;
$brown: #e7ad48;

// font-size
$txt-main: 13px;
$txt-btn: 14px;
$txt-card: 18px;
$txt-middle: 16px;
$txt-description: 24px;
$txt-large: 60px;
$fs-h1: 35px;
$fs-h2: 30px;
$fs-h3: 25px;
$fs-h4: 20px;

// line-height
$txt-main-ln-height: 16px;
$txt-btn-ln-height: 17px;
$txt-middle-ln-height: 19px;
$txt-card-ln-height: 22px;
$txt-large-ln-height: 72px;
$txt-description-ln-height: 29px;
$h1-ln-height: 42px;
$h2-ln-height: 36px;
$h3-ln-height: 30px;
$h4-ln-height: 24px;

$transition-time: 0.3s ease;