@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}

.main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main-section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-container-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-container-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-container-d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.btn {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
  background-color: #ffbb42;
  border-radius: 3px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #868686;
}

.title-h1 {
  font-size: 35px;
  line-height: 42px;
  font-weight: 900;
}

.title-h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  color: #394b50;
}

.title-h3 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
  color: #818b95;
}

.title-h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #394b50;
}

.title-h5 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #394b50;
}

.title-h6 {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.txt--uppercase {
  text-transform: uppercase;
}

.txt--center {
  text-align: center;
}

.txt-content {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #7b7b7b;
}

.text-description {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #394b50;
  text-align: center;
}

.logo-wrap {
  padding: 21px 0;
}

.logo-link {
  display: inline-block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.logo-link:hover {
  opacity: 0.7;
}

.menu-list {
  padding: 10px 0;
}

.menu-list__item {
  margin-right: 5px;
}

.menu-list__link {
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  padding: 9px 20px;
  border-radius: 2px;
  color: #868686;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu-list__link:hover {
  background-color: #ffbb42;
  color: #ffffff;
}

.promo {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(85%, #709dca), color-stop(15%, #ffffff));
  background: linear-gradient(180deg, #709dca 85%, #ffffff 15%);
}

.promo__wrap {
  padding-top: 82px;
  margin-bottom: 74px;
}

.promo__title {
  margin-bottom: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.promo__text {
  margin-bottom: 27px;
  color: #ffffff;
}

.promo-form {
  margin-bottom: 67px;
}

.promo-btn {
  padding: 15px 42px 16px;
  margin-bottom: 10px;
}

.form-input {
  width: 281px;
  font-size: 13px;
  line-height: 16px;
  color: #a9a9a9;
  padding: 15px 12px 15px 40px;
  border: none;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  margin: 0 10px 10px 0;
}

.form-input__img {
  background-repeat: no-repeat;
  background-position: 5%;
}

.form-input__img--person {
  background-image: url("../assets/svg/rerson_icon.svg");
}

.form-input__img--email {
  background-image: url("../assets/svg/email_icon.svg");
}

.form-input__img--phone {
  background-image: url("../assets/svg/phone_icon.svg");
}

.form-input:focus {
  outline: none;
  border: 1px solid #ffbb42;
}

.laptop-wrap {
  max-width: 647px;
}

.laptop-wrap__img {
  margin-bottom: 23px;
}

.laptop-img {
  width: 100%;
}

.buttons-circle .buttons-circle__icon {
  margin: 0 9px;
}

.buttons-circle .buttons-circle__icon:last-child {
  margin-right: 0;
}

.buttons-circle__icon {
  display: inline-block;
  padding: 6.5px;
  border-radius: 50%;
  border: 2px solid #dedfe0;
  background-color: transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.buttons-circle__icon--active {
  border: 2px solid #1ca8dd;
}

.service {
  margin-bottom: 100px;
}

.service__title {
  margin-bottom: 16px;
}

.service__text {
  margin-bottom: 84px;
}

.service-list {
  margin: 0 -15px;
}

.service-content__title {
  margin-bottom: 15px;
}

.service-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 512px;
  margin: 0 15px;
  margin-bottom: 55px;
}

.service-img {
  margin-right: 35px;
}

.service-img__icon {
  width: 45px;
  height: 45px;
}

.about {
  background-color: #ffc155;
  min-height: 623px;
  margin-bottom: 58px;
}

.about-image {
  background-image: url("../assets/img/about_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.about__wrap {
  width: 50%;
}

.about__content {
  height: 100%;
  max-width: 475px;
  padding: 155px 20px 174px 80px;
}

.about__content-title {
  color: #ffffff;
  margin-bottom: 19px;
  text-align: left;
}

.about__content-text {
  color: #ffffff;
  margin-bottom: 51px;
}

.about__content-link {
  padding: 12px 31px 15px 31px;
  color: #ffffff;
  border: 1px solid #e7ad48;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.about__content-link:hover {
  color: #868686;
  border: 1px solid #868686;
}

.price {
  background-color: #e7edf3;
  padding: 98px 0 164px;
}

.price__title {
  margin-bottom: 16px;
}

.price__text {
  margin-bottom: 54px;
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-list__item {
  max-width: 391px;
  padding: 50px 28px 48px 28px;
  margin: 30px 0;
  background-color: #ffffff;
  border: 1px solid #ccd5df;
}

.price-list__title {
  margin-bottom: 7px;
}

.price-number__wrap {
  margin-bottom: 42px;
}

.price-number__count {
  font-size: 60px;
  line-height: 72px;
  color: #ffbb42;
  font-weight: 700;
}

.price-number__count--sup {
  font-size: 24px;
  line-height: 29px;
  vertical-align: top;
}

.price-number__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  color: #818b95;
}

.price-offer__list {
  width: 329px;
  text-align: center;
  margin-bottom: 31px;
}

.price-offer__item {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #b5bbc1;
  text-transform: uppercase;
}

.price-offer__item--border {
  padding: 12px 0;
  border-top: 1px solid #e2e9f0;
}

.price__btn {
  padding: 12px 20px;
}

.price-list__item--active {
  max-width: 395px;
  padding: 76px 35px 84px 32px;
  background-color: #709dca;
  border: none;
  border-radius: 2px;
}

.price-list__item--active .title-h3,
.price-list__item--active .price-number__count,
.price-list__item--active .price-number__text {
  color: #ffffff;
}

.price-list__item--active .price-offer__item--border {
  border-top: 1px solid #8eb8e2;
}

.price-list__item--active .price-offer__item {
  color: #c2e1ff;
}

.works {
  padding: 59px 0 149px;
}

.works__title {
  margin-bottom: 14px;
}

.works__text {
  margin-bottom: 83px;
}

.works__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 103px;
  padding: 0 20px;
}

.works__step-item {
  max-width: 229px;
  min-width: 120px;
}

.works__step-icon {
  width: 121px;
  height: 121px;
  margin: 0 auto 66px;
}

.works__step-icon--center {
  display: block;
  margin: 0 auto;
}

.works__step-title {
  margin-bottom: 21px;
}

.works__step-arrow {
  width: 71px;
  height: 150px;
  position: relative;
}

.works__arrow {
  position: absolute;
  width: calc(100% + 60px);
  left: -25px;
}

.works__arrow-top {
  top: 0;
}

.works__arrow-bottom {
  bottom: 0;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.works__btn {
  padding: 13px 26px;
}

.reviews {
  padding: 66px 0 160px;
  background-color: #ffc155;
}

.reviews__title {
  color: #ffffff;
  margin-bottom: 16px;
}

.reviews__text {
  color: #ffffff;
  margin-bottom: 92px;
}

.reviews-list {
  min-height: 400px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-right: -10px;
}

.reviews-list__item {
  max-width: 567px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 36px 9px 42px 30px;
  background-color: #ffffff;
}

.reviews-list__wrap-img {
  width: 121px;
  height: 121px;
  margin-right: 13px;
}

.reviews-list__avatar {
  border-radius: 50%;
}

.reviews-list__qoute {
  position: relative;
  max-width: 390px;
  padding-left: 24px;
}

.reviews-list__qoute::before, .reviews-list__qoute::after {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #7b7b7b;
  position: absolute;
}

.reviews-list__qoute::before {
  content: "“";
  left: 8px;
  top: -12px;
}

.reviews-list__qoute::after {
  content: "“";
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  left: 192px;
  bottom: 20px;
}

.reviews-list__qoute-txt {
  line-height: 20px;
  margin-bottom: 32px;
}

.reviews-list__qoute-author {
  font-size: 14px;
  line-height: 17px;
  color: #99a9ae;
}

.reviews-list__qoute-author--orange {
  color: #f6772c;
}

.contact {
  padding-top: 80px;
  margin-bottom: 57px;
  background-color: #ffffff;
}

.contact__title {
  margin-bottom: 16px;
}

.contact__text {
  margin-bottom: 73px;
}

.contact-form {
  margin-bottom: 53px;
}

.contact-btn {
  padding: 15px 51px 15px 53px;
}

.contact-info {
  max-width: 1102px;
  margin: 0 auto;
  padding-top: 40px;
  height: 549px;
}

.contact-info__map {
  background-image: url("../assets/img/map-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-info__shape {
  width: 285px;
  height: 285px;
  margin-bottom: 30px;
  background-color: #394b50;
  border-radius: 50%;
  position: relative;
}

.contact-info__shape::after {
  content: "";
  position: absolute;
  bottom: -29px;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 18px solid #394b50;
  border-bottom: 13px solid transparent;
}

.contact-info__wrap {
  width: 156px;
}

.contact-info__title {
  margin-bottom: 11px;
}

.contact-info__txt {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #aeb7ba;
}

.contact-info__phone {
  margin-bottom: 20px;
}

.contact-info__phone--link {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact-info__phone--link:hover {
  color: #1ca8dd;
}

.contact-info__email {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #ffbb42;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact-info__email:hover {
  color: #1ca8dd;
}

.footer-top__wrap {
  padding-top: 65px;
  margin-bottom: 49px;
}

.footer-top__wrap--border {
  border-top: 1px solid #e3e7ec;
}

.footer-top__phone {
  margin-bottom: 14px;
}

.footer-top__phone--link {
  position: relative;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  color: #394b50;
  padding-left: 22px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer-top__phone--link::before {
  content: "";
  position: absolute;
  background-image: url("../assets/svg/phone_icon_lg.svg");
  width: 18px;
  height: 18px;
  left: 0;
  top: 5px;
}

.footer-top__phone--link:hover {
  color: #ffbb42;
}

.footer-bottom {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #709dca), color-stop(10%, #ffffff));
  background: linear-gradient(180deg, #709dca 90%, #ffffff 10%);
}

.footer-bottom__copyright {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  color: #ffffff;
  padding: 14px 0;
}

.footer .menu-list {
  padding: 0;
  margin-bottom: 21px;
}

.footer .menu-list__link {
  color: #394b50;
}

.footer .menu-list__link:hover {
  color: #ffffff;
}

.social-list__item {
  margin-right: 14px;
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-list__link {
  display: inline-block;
  cursor: pointer;
}

.social-list__link--icon {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.social-list__link--icon:hover {
  fill: #ffbb42;
}

@media screen and (max-width: 992px) {
  .works__arrow {
    display: none;
  }
  .works__step {
    margin: 0 -15px 103px;
  }
  .works__step-item {
    margin: 0 10px 10px;
  }
}

@media screen and (max-width: 785px) {
  .about {
    min-height: 500px;
  }
  .about-image {
    width: 100%;
  }
  .about__wrap {
    width: 100%;
  }
  .about__content {
    padding: 15px;
    max-width: 100%;
  }
}
